.game-container {
  height: 500px;
  width: 1000px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 2rem;
  background-image: url("./../assets/images/background.jpg");
  background-position: 100% 100%;
  background-size: cover;
  background-repeat: no-repeat;
}
.character {
  width: 150px;
  height: 100px;
  position: relative;
  top: 290px;
  left: 50px;
}
.tractor {
  background-image: url("./../assets/images/tractor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.animate {
  animation: jump 0.5s linear;
}
@keyframes jump {
  0% {
    top: 290px;
  }

  50% {
    top: 150px;
  }

  100% {
    top: 290px;
  }
}
.obstacle {
  width: 50px;
  height: 50px;
  position: relative;
  top: 240px;
  left: 840px;
  animation: obstacle 1.5s infinite linear;
}
.rock {
  background-image: url("./../assets/images/rock.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
@keyframes obstacle {
  0% {
    left: 950px;
  }
  100% {
    left: 10px;
  }
}
/* modal */
.game-over {
  color: black;
  text-align: center;
}
.your-score {
  font-size: 1.2rem;
  text-align: center;
}
.your-score span {
  color: red;
  font-weight: bold;
}
.play-again {
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 0.5rem;
  text-align: center;
}
.play-again:hover {
  cursor: pointer;
  filter: brightness(70%);
}
.btn-container {
  text-align: center;
}
