.game-container {
  height: 400px;
  width: 900px;
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 2rem;
}
.character {
  width: 50px;
  height: 90px;
  position: relative;
  top: 320px;
  left: 10px;
}
.tractor {
  background-image: url("./../assets/images/tractor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
.animate {
  animation: jump 0.3s linear;
}
@keyframes jump {
  0% {
    top: 311px;
  }
  30% {
    top: 256px;
  }
  50% {
    top: 226px;
  }
  70% {
    top: 256px;
  }
  100% {
    top: 311px;
  }
}
.obstacle {
  width: 50px;
  height: 45px;
  position: relative;
  top: 266px;
  left: 840px;
  animation: obstacle 1.5s infinite linear;
}
.grass {
  background-image: url("./../assets/images/tractor.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 100%;
}
@keyframes obstacle {
  0% {
    left: 840px;
  }
  100% {
    left: -5px;
  }
}
/* modal */
.game-over {
  color: black;
  text-align: center;
}
.your-score {
  font-size: 1.2rem;
  text-align: center;
}
.your-score span {
  color: red;
  font-weight: bold;
}
.play-again {
  border: none;
  font-weight: bold;
  border-radius: 5px;
  background-color: blue;
  color: white;
  padding: 0.5rem;
  text-align: center;
}
.play-again:hover {
  cursor: pointer;
  filter: brightness(70%);
}
.btn-container {
  text-align: center;
}
